{% extends "layout.html" %}


{% block body %}
<br><br><br><br>
<h3>Site kurucusu yani ben kimim ?</h3>
        <strong><hr style="border-color: purple"></strong>
<img class="rounded-left" src="/static/clab_logo.png" alt="resim" width="300" height="250"><br>
<strong>
<h3>
Öncelikle Selam , Süleyman Demirel Üniversitesi Bilgisayar Mühendisliği 3.Sınıf öğrencisiyim. Siber Güvenlik alanında kendimi geliştirmeye ve bunun yanında bazı programlama dillerini öğrenmeye çalışıyorum. Blog sayfasını açmamdaki en büyük etken öğrendiklerimi ve işinize yarayacağını düşündüğüm bilgileri burada paylaşmak.

    İletişim için istediğiniz mecradan ulaşabilirsiniz.</strong>
    </h3><hr>
{% endblock body %}