{% extends "layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<div class="alert alert-danger">
<strong class="put-right">{{request.user.username}}</strong> Olarak Giriş Yapıldı.
</div>
{% endif %}

<div class="banner" style="padding:15px; text-align:center;">
<div class="banner-content">
<img src="/static/devblog.png" alt="Blog Logosu" class="img-responsive" width="500" height="900">
</div>
</div>
    

<p>
<h3>EN SON YAYIMLANAN MAKALE </h3>
<strong><hr style="border-color: black"></strong>

  {% if makaleler %}

  {% for makale in makaleler %}
 <div class="container">
 
  <div class="well">
  {% if makale.makal_resim  %}
  <div class="media">
      	<a class="pull-left" href="{% url 'makale:makaleayrinti' makale.id %}">
    		<img class="media-object" src="{{makale.makal_resim.url}}" width="200" height="200">
    		</a>
  {% else %}
  <div class="media">
      	<a class="pull-left" href="/makale/makaleayrinti/{{makale.id}}">
    		<img class="media-object" src="/static/no-image.jpeg" width="300" height="200">
  	  	</a>
  {% endif %}
  		<div class="media-body">
    		<a href="{% url 'makale:makaleayrinti' makale.id %}"><h2 class="media-heading">{{makale.Başlık}}</h2></a>
          <h3 class="text-left"><strong>{{makale.Yazar}}</strong> tarafından <strong>{{makale.Olusturma_Tarihi}}</strong> tarihinde yayımlandı.</h3>
          <p class="lead">{{makale.İçerik|safe|truncatewords:70}}</p><br>
          <a href="{% url 'makale:makaleayrinti' makale.id %}" class="btn btn-warning pull-right">Devamını Oku</a>     
       </div>
    </div>
  </div>
  </div>
  {% endfor %}
  
{% else %}
  <div class="alert alert-danger">Blogda Herhangi bir Makale bulunmuyor.</div>
  <br>
  

{% endif %}






</div>






</p>

{% endblock body %}